Repository db-ui/base: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

refactor: made necessary updates after husky update
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
Due: none

Update if-eq.js
  helpers/if-eq.js
Due: prettier --write, xo --fix

refactor: Update `CODE-OF-CONDUCT.md`
  CODE-OF-CONDUCT.md
Due: markdownlint -c .markdown-lint.yml

Update CODE-OF-CONDUCT.md
  CODE-OF-CONDUCT.md
Due: markdownlint -c .markdown-lint.yml

refactor: Update `CODE-OF-CONDUCT.md` (#550)
  CODE-OF-CONDUCT.md
Due: markdownlint -c .markdown-lint.yml

refactor: squash dependabot PRs
  .github/workflows/99-auto-merge.yml
Due: none

refactor: squash dependabot PRs (#557)
  .github/workflows/99-auto-merge.yml
Due: none

fix(safari): restored list-style type for VoiceOver screenreader
  source/_patterns/icons/_icons.demonstration.scss
  source/_patterns/logo/_logo.demonstration.scss
  source/css/pattern-scaffolding.css
Due: stylelint --fix

fix(safari): restored list-style type for VoiceOver screenreader (#563)
  source/_patterns/icons/_icons.demonstration.scss
  source/_patterns/logo/_logo.demonstration.scss
  source/css/pattern-scaffolding.css
Due: stylelint --fix

refactor: resilience
  .husky/pre-commit
Due: none

refactor: resilience (#569)
  .husky/pre-commit
Due: none

chore: update cancel workflow action
  .github/workflows/00-init.yml
Due: none

Update default.yml
  .github/workflows/default.yml
Due: none

feat: generating provenance statements
  .github/scripts/publish-npm.sh
  .github/workflows/03-publish-packages.yml
Due: none

Update publish-npm.sh
  .github/scripts/publish-npm.sh
Due: none

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx}
  xo --fix: any of: *.{js,ts,tsx}
