Repository db-ui/base: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

docs: mentioning v3
  README.md
Due: markdownlint -c .markdown-lint.yml

fix: license in package lock file
  package-lock.json
Due: none

refactor: package contents
  .npmignore
Due: none

chore(docs): small optimization
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor: removed "removed" rule
  .stylelintrc.json
Due: none

refactor: disabled false positives
  source/css/db-ui-base.scss
Due: stylelint --fix

docs: updated comment on maintenance scope and EOL
  README.md
Due: markdownlint -c .markdown-lint.yml

Update README.md
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor: postcss is a peer dependency
  package-lock.json
  package.json
Due: none

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx}
  xo --fix: any of: *.{js,ts,tsx}
