Repository db-ui/base: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

refactor: updated `download-artifact` and `upload-artifact` actions
  .github/actions/download-tar-artifact/action.yml
Due: none

Update action.yml
  .github/actions/upload-tar-artifact/action.yml
Due: none

refactor: updated `download-artifact` and `upload-artifact` actions (#651)
  .github/actions/download-tar-artifact/action.yml
  .github/actions/upload-tar-artifact/action.yml
Due: none

refactor: updated `github-script` action (#636)
  .github/actions/extract-branch/action.yml
Due: none

refactor: updated actions/cache action (#638)
  .github/actions/npm-cache/action.yml
Due: none

refactor: using `.nvmrc` entry (#639)
  .github/actions/npm-cache/action.yml
Due: none

refactor: removed all obsolete LICENSE files
  assets/icons/LICENSE
  assets/icons/functional/LICENSE
  assets/icons/functional/fonts/LICENSE
  assets/icons/functional/fonts/sources/LICENSE
  assets/icons/functional/images/LICENSE
  assets/icons/functional/images/av/LICENSE
  assets/icons/functional/images/brand/LICENSE
  assets/icons/functional/images/communication/LICENSE
  assets/icons/functional/images/covid_19/LICENSE
  assets/icons/functional/images/facilities/LICENSE
  assets/icons/functional/images/feature/LICENSE
  assets/icons/functional/images/food/LICENSE
  assets/icons/functional/images/it/LICENSE
  assets/icons/functional/images/journey/LICENSE
  assets/icons/functional/images/maps/LICENSE
  assets/icons/functional/images/navigation/LICENSE
  assets/icons/functional/images/notification/LICENSE
  assets/icons/functional/images/seat/LICENSE
  assets/icons/functional/images/ticket/LICENSE
  assets/icons/functional/images/transportation/LICENSE
  assets/icons/functional/images/transportation/inverted/LICENSE
  assets/icons/functional/images/transportation/regular/LICENSE
  assets/icons/illustrative/LICENSE
Due: none

refactor: removed all obsolete LICENSE files
  assets/LICENSE
Due: none

refactor: added license
  assets/images/LICENSE
  assets/images/appicons/LICENSE
  assets/images/appicons/db_em_rgb_16px.png.license
  assets/images/appicons/db_em_rgb_32px.png.license
  assets/images/db_logo.svg.license
Due: none

refactor: added licenses
  assets/favicon.ico.license
  assets/robots.txt.license
  assets/site.webmanifest.license
Due: none

refactor: corrected licenses
  LICENSE
  LICENSES/LicenseRef-DB-Designs-License.txt
Due: none

refactor: adapted license copy
  README.md
Due: markdownlint -c .markdown-lint.yml

feat: added licenses
  tokens/README.md
  tokens/asset/font.json.license
  tokens/color.json.license
  tokens/color/feedback.json.license
  tokens/color/poi.json.license
  tokens/color/primary.json.license
  tokens/color/transportation.json.license
  tokens/font.jsonc
  tokens/spacings.json.license
  tokens/tailwind/font-size.json.license
  tokens/tailwind/screens.json.license
  tokens/tailwind/spacing.json.license
  tokens/transition.json.license
Due: markdownlint -c .markdown-lint.yml

feat: added licenses
  CHANGELOG.md
  CODE-OF-CONDUCT.md
  CONTRIBUTING.md
  README.md
  package-lock.json.license
  package.json.license
  patternlab-config.json.license
  style-dictionary.config.json.license
  style-dictionary.js
Due: markdownlint -c .markdown-lint.yml, prettier --write, xo --fix

Update pattern-scaffolding.css
  source/css/pattern-scaffolding.css
Due: stylelint --fix

feat: added licenses
  CODEOWNERS
  LICENSES/Apache-2.0.txt
  REUSE.toml
  assets/icons/README.md
  helpers/if-eq.js
  package.json.license
  scripts/check-commit-mail.mjs
  scripts/tailwind-config-generator.mjs
  source/_patterns/.gitkeep.license
Due: markdownlint -c .markdown-lint.yml, prettier --write, xo --fix

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx}
  xo --fix: any of: *.{js,ts,tsx}
